<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login system with nodejs and mysql database</title>
    <link rel="stylesheet" href="assets/styles.css">
</head>

<body>

    <div class="wrapper fadeInDown">

        <h1 class="text-center"> Ushauri IL Data Manager</h1>

        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active"> Sign In </h2>
      
          <!-- Login Form -->
          <form class="form" action="/" method="POST">
            <input type="text" name="username" class="input-field fadeIn second" placeholder="Username"  />
            <input type="password" name="password" class="input-field fadeIn third" placeholder="Password"  />
            <input type="submit" class="btn fadeIn fourth" value="LOGIN">
          </form>
      
        </div>
      </div>
</body>
</html>

